# Directories #
photos/
node_modules/
bower_components/
dist/
tmp/
.tmp/
.idea/

# Files #
*.DS_Store
*.log
app/templates/maintemplate.js
app/templates/adminPage.html
index_admin.html
app/templates/map.html
