<form name="problemForm" novalidate>
	<div class="form-group">
		<label for="problemName">Назва проблеми:</label>
		<input type="text" class="form-control" id="problemName" name="title" ng-model="problemData.title" ng-trim="false" maxlength="70" required>
		<span class="help-block">(залишилось {{70 - problemData.title.length}} символів)</span>
		<p class="help-block" ng-show="problemData.title == ''">Це поле обов’язкове.&nbsp;</p>
        <span style="color:red; font-size: 0.6em" ng-show="problemForm.title.$dirty && problemForm.title.$invalid">
            <span ng-show="problemForm.title.$error.required">Не вказана назва проблеми</span>
        </span>
	</div>
	<div class="form-group">
		<label for="select-field">Тип проблеми:</label>
		<select id="select-field" class="form-control" required ng-model="problemData.type" name="type">
			<option value="" selected disabled>Виберіть тип</option>
	        <option value="1">Проблеми лісів</option>
	        <option value="2">Сміттєзвалища</option>
	        <option value="3">Незаконна забудова</option>
	        <option value="4">Проблеми водойм</option>
	        <option value="5">Загрози біорізноманіттю</option>
	        <option value="6">Браконьєрство</option>
	        <option value="7">Інші проблеми</option>
		</select>
		<p class="help-block" ng-show="problemData.type == ''">Це поле обов’язкове.</p>
        <span style="color:red; font-size: 0.8em" ng-show="problemForm.type.$dirty && problemForm.type.$invalid">
            <span ng-show="problemForm.type.$error.required">Не вибран тип проблеми</span>
        </span>
	</div>
	<div class="form-group">
		<label for="description-field">Опис проблеми:</label>
		<textarea class="form-control" id="description-field" name="description" rows="6" ng-model="problemData.content" ng-trim="false" maxlength="1000" ng-required="true"></textarea>
		<span class="help-block">(залишилось {{1000 - problemData.content.length}} символів)</span>
        <span style="color:red; font-size: 0.6em" ng-show="problemForm.description.$dirty && problemForm.description.$invalid">
            <span ng-show="problemForm.description.$error.required">Немає опису проблеми</span>
        </span>
	</div>
	<div class="form-group">
		<label for="proposal-field">Пропозиції щодо вирішення проблеми:</label>
		<textarea class="form-control" id="proposal-field" name="proposal" rows="6" ng-model="problemData.proposal" ng-trim="false" maxlength="1000" ng-required="true"></textarea>
		<span class="help-block">(залишилось {{1000 - problemData.proposal.length}} символів)</span>
	</div>
	<button class="btn btn-default btn-sm" ng-click="tabs[2].active = true">Далі</button>
</form>