<div class="b-activity">
    <div ng-show="isLoggedIn()" class="form-group">
        <textarea id="commentAdd" class="form-control" ng-model="commentContent" rows="4" placeholder="Тут можна залишити свій коментарій..." maxlength="500"></textarea>
        <p class="help-block">(залишилось {{500 - commentContent.length}} символів)</p>
        <a href="" type="button" class="btn btn-default" ng-click="addComment(commentContent)">Додати</a>
    </div>
    <div ng-show="!isLoggedIn()" style="margin-top: 15px;margin-bottom: 15px;"><a class="tn-join-us" style="cursor: pointer;" ng-click="showRegForm('')">Зареєструйтесь</a> щоб залишити коментар</div>
    <div class="b-activity__comments">
        <div class="b-activity__comments-item" ng-repeat="comment in comments">
            <div class="b-activity__comments-item-date">
                <span><b>{{comment.created_by}}</b></span>
                <span><b>{{comment.created_date.substring(0,10)}}<br>{{comment.created_date.substring(11,16)}}</b></span>
            </div>
            <div class="b-comment__comments-item-content">
                <span>{{comment.content}}</span>
                <!-- TODO: Need to refactor
                <span ng-show="comment.ActivityTypes_Id==5">{{comment.content}}
                <i ng-if="isAdministrator()" class="fa fa-close b-chat__newsItem-li-i"  ng-click="deleteComment(comment.Id)"></i></span>
                -->
            </div>
        </div>
    </div>
</div>
