<div class="container-fluid" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter" style="margin-left: -15px;">

    <div class="row">

        <div class="col-md-4" style="magrin-right: 20px;">

            <div style="position:relative; margin-top: 20px;">
                <a class='btn btn-primary' href='javascript:;'>
                    Додати фото
                    <input id="file_uploader" accept="image/*" type="file" nv-file-select="" uploader="uploader" multiple style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' size="40">
                </a>
                &nbsp;
                <span class='label label-info' id="upload-file-info"></span>
            </div>
        </div>
    </div>


    <div class="row" ng-show="uploader.getNotUploadedItems().length">

        <div style="margin-left: 20px; margin-bottom: 40px; width: 500px;">
            <table class="table" style="font-size: 0.8em;">
                <thead>
                    <tr>
                        <th ng-show="uploader.isHTML5">Фото</th>
                        <!--<th width="50%">Назва фото</th>-->
                        <th ng-show="uploader.isHTML5">Розмір</th>
                        <th ng-show="uploader.isHTML5">Коментарі</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td>
                            <!-- Image preview -->
                            <!--auto height-->
                            <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                            <!--auto width-->
                            <!--<img ng-src="{ file: item._file, height: 100 }">-->
                            <!--fixed width and height -->
                            <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 60 }"></div>
                        </td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td>
                          <div class="form-group">
                            <textarea class="form-control" name="comments" ng-model="item.comments" style="height: 60px; resize: none;"></textarea>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div style="font-size: 0.8em;">
                    Прогрес:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
            </div>
            <div ng-bind="file_error" style="font-size: 0.8em;"></div>

        </div>

    </div>
</div>