<div  class="b-right-side__show-problem">
    <a href="" ng-click="swipeHide()" class="close">×</a>
    <div class="b-problems" >
        <div class="b-problem-deatiled-info-title">
            <a ng-click="map.panToOffset(problem.Coordinates, 0, 0, 600, 0)" href=""><img ng-src="{{path}}" class="b-problem-deatiled-info-title__icon"></a>
            <div  class="b-problem-deatiled-info-title__text b-problem-notAdmin_{{!isAdministrator()}}">
                <editproblemtitle  value="problem.Title"></editproblemtitle>
            </div>

            <div class="b-problem-deatiled-info-user">
                <div class="b-problem-deatiled-info-user__name">
                    {{problem.userName}} {{problem.userSurname}}
                </div>
                <div class="b-problem-deatiled-info-user__date">
                    {{problem.CreatedDate | date:'dd/MM/yyyy HH:MM'}}
                </div>
            </div>
        </div>
        <div class="b-problem-deatiled-info-general">
            <div class=" b-label-overRating" ng-class="{'label-default': problem.Severity<2,'label-info':problem.Severity>=2&&problem.Severity<3, 'label-warning': problem.Severity>=3 && problem.Severity<4, 'label-danger': problem.Severity>=4}" ng-show="showStatus">{{severityMessage}}</div>
            <div class="b-problem-deatiled-info-container">
                <div class='b-problem-deatiled-info-severity'>
                    <div  ng-class="{'b-hide-stars':!isAdministrator()}" ng-mouseover=showMessageOverRating(problem.Severity) ng-mouseleave="hideSeverityLabel()"> </div>
                    <div class="b-problem-deatiled-info__severity b-problem-notAdmin_{{!isAdministrator()}}" ng-init="problem.Severity"><rating ng-model="problem.Severity" on-hover="showMessageOverRating(value)" on-leave="showStatus = false" readonly="isReadonly" state-on="'fa-star'" state-off="'fa-star-o'" ></rating>
                    </div>
                </div>
                <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                <div class="b-problem-deatiled-info-status__text" >
                    <div class="onoffswitch">
                        <input type="checkbox"   name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-model="checkedbox"   ng-checked="checkedbox" ng-disabled="!isAdministrator()" >
                        <label>{{problem.status}}</label>
                    </div>
                </div>
                <div class="b-problem-deatiled-info-votes">
                    <button class="simple_like_img"  ng-init="myvalue = false" ng-mousemove="myvalue= true" ng-mouseleave="myvalue= false" ng-click="addOneVote()" ng-disabled="disableVoteButton">
                        <div class="b-hintVote" ng-class="{' label-success': myvalue}" ng-hide="!myvalue||disableVoteButton">Голосувати</div>
                        <span ><i class="fa fa-fw" ng-class="{'simple_like_img-disable':disableVoteButton}"></i></span>
                    </button>
                    {{problem.Votes}}

                </div>
            </div>

        </div>


        <tabset justified="true" class="b-problem-tab">
            <tab heading="Детально" class="b-problem-notAdmin_false" >
                <div class="b-problem-deatiled-info-description">
                    <div class="b-problem-deatiled-info-description__title"></div>
                    <div class="b-problem-deatiled-info-description__content b-problem-notAdmin_{{!isAdministrator()}}">
                        <label>Опис проблеми:</label><br>
                        <editproblemcontent  value="problem.Content" ></editproblemcontent>
                    </div>
                    <div class="b-problem-deatiled-info-description__content b-problem-notAdmin_{{!isAdministrator()}}">
                        <label>Пропозиції щодо вирішення:</label><br>
                        <editproblemcontent  value="problem.Proposal" ></editproblemcontent>
                    </div>
                    <div class="b-problem-deatiled-info-description-photos">

                        <div class="show_photo" ng-repeat="photo in photos">
                            <img ng-click="showSliderFunc()" ng-src="{{THUMBNAILS_URL}}{{photo.name}}" class="b-details-body-problem-photo"/>
                        </div>
                        <div ng-show="!isLoggedIn()" style="margin-top: 15px;margin-bottom: 15px;"><a class="tn-join-us" style="cursor: pointer;" ng-click="showRegForm('')">Зареєструйтесь</a> щоб додати фото</div>
                        <file-upload ng-show="isLoggedIn()"></file-upload>
                        <div ng-show="uploader.getNotUploadedItems().length" style="overflow-x: hidden;">
                            <button class="btn btn-success btn-s" ng-click="uploadPhoto()" ng-disabled="!uploader.getNotUploadedItems().length" style="font-size: 0.8em;">
                                <span class="glyphicon glyphicon-upload"></span> Завантажити фото
                            </button>
                            <button class="btn btn-danger btn-s" ng-click="cancelUploadPhoto()" ng-disabled="!uploader.queue.length" style="font-size: 0.8em;">
                                <span class="glyphicon glyphicon-trash"></span> Відміна
                            </button>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Коментарі" class="b-problem-notAdmin_false" select="loadComments()">
                <comment></comment>
            </tab>
        </tabset>
        <!--TODO: Need this to refactor -->
        <div class="b-commandButtons-group">
            <button type="button" class="btn btn-sm" ng-show = "checkPermission('ProblemHandler:PUT:ANY')"  ng-click="saveChangestoDb(problem.Title,problem.Severity, problem.Status, problem.Content,problem.Proposal)" >Збережіть зміни</button>
            <button type="button" class="btn btn-sm" ng-show="checkPermission('ProblemHandler:DELETE:ANY')" ng-click="deleteProblemFromDb()" >Видалити проблему з бази</button>
        </div>
    </div>
</div>
